.hero {
  position: relative;
  color: #fff;
  text-align: center;
}

.heroImage {
  /*
    Ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width
  */
  height: 61.8vh;
  max-height: 300px;
  margin-bottom: 1.3rem;
}

.heroDetails {
  font-size: 1rem;
  width: calc(100% - 10vmin);
  margin: 0 auto;
}

@media(min-width: 600px) {
  .heroDetails {
    font-size: 1.1rem;
  }
}

@media(min-width: 1000px) {
  .heroDetails {
    font-size: 1.2rem;
  }
}

.heroHeadline {
  margin: 0;
}

.heroTitle {
  margin: 1.5rem 0;
  font-size: 1.125rem;
  font-weight: bold;
}
