.description {
  position: relative;
  color: #fff;
}

.descriptionTitle {
  text-align: center;
}

.descriptionDetail {
  font-size: 1.3rem;
  width: calc(100% - 10vmin);
  margin: 0 auto;
}

@media(max-width: 600px) {
  .descriptionDetail {
    font-size: 1.4rem;
  }
}

@media(max-width: 1000px) {
  .descriptionDetail {
    font-size: 1.5rem;
  }
}

.heroHeadline {
  margin: 0;
}
